<div id="mails">
	<table class="table">
		<thead>
			<tr>
				<th class="sortable" on-click="sort:dateSent">Date <span class="{{getSortIcon('dateSent')}}"></span></th>
				<th class="sortable" on-click="sort:subject">Subject <span class="{{getSortIcon('subject')}}"></span></th>
				<th class="sortable" on-click="sort:fromAddress">From <span class="{{getSortIcon('fromAddress')}}"></span></th>
				<th class="sortable" on-click="sort:toAddresses">To <span class="{{getSortIcon('toAddresses')}}"></span></th>
			</tr>
		</thead>

		<tbody style="overflow: auto;">
			{{#mails.length <= 0}}
				<tr>
					<td colspan="4">
						No mail items to display. Send some mail!
					</td>
				</tr>
			{{/mails.length <= 0}}

			{{#mails.length > 0}}
				{{# sort(mails, sortColumn) }}
					<tr on-click="viewMailItem" class="mailrow">
						<td>{{dateSent}}</td>
						<td>{{subject}}</td>
						<td>{{fromAddress}}</td>
						<td>{{(compressTo(toAddresses))}}</td>
					</tr>
				{{/mails}}
			{{/mails.length > 0}}
		</tbody>
	</table>
</div>
